<div id="feature">
		<div class="page">
			<ul id="sample-roundabout" style="padding: 0px; position: absolute; opacity: 1; " class="roundabout-holder">
				<li class="roundabout-moveable-item" style="position: absolute; left: 116px; top: 18px; width: 316px; height: 352px; opacity: 1; z-index: 218; ">
					<div class="wrapper">
						<h2>Ponencia: </h2>
						<h3>Titulo de la Ponencia </h3>
						<p>Facundo Batista </p>
						<p>
							(Argentina)
						</p>
					</div>
				</li>
				<li class="roundabout-moveable-item" style="position: absolute; left: 107px; top: 71px; width: 316px; height: 352px; opacity: 1; z-index: 117; ">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>Titulo de la Ponencia </h3>
						<p>Erico Andrey</p>
						<p>
							(Brasil)
						</p>
					</div>
				</li>
				<li class="roundabout-moveable-item" style="position: absolute; left: -38px; top: 71px;width: 316px; height: 352px; opacity: 1; z-index: 117;">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>Titulo de la Ponencia </h3>
						<img src="https://lh6.googleusercontent.com/-SQnyUf4ccW4/AAAAAAAAAAI/AAAAAAAAAWc/Pm7AefHYmHg/s250-c-k/photo.jpg" alt="">
						<p>Jose Montes de Oca </p>
						<p>
							(Google)
						</p>
					</div>
				</li>
				<li class="roundabout-moveable-item" style="position: absolute; left: 116px; top: 18px; width: 316px; height: 352px; opacity: 1; z-index: 218; ">
					<div class="wrapper">
						<h2>Ponencia: </h2>
						<h3>Titulo de la Ponencia </h3>
						<p>Facundo Batista </p>
						<p>
							(Argentina)
						</p>
					</div>
				</li>
				<li class="roundabout-moveable-item" style="position: absolute; left: 107px; top: 71px; width: 316px; height: 352px; opacity: 1; z-index: 117; ">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>Titulo de la Ponencia </h3>
						<p>Erico Andrey</p>
						<p>
							(Brasil)
						</p>
					</div>
				</li>
				<li class="roundabout-moveable-item" style="position: absolute; left: -38px; top: 71px;width: 316px; height: 352px; opacity: 1; z-index: 117;">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>Titulo de la Ponencia </h3>
						<p>Jose Montes de Oca </p>
						<p>
							(Google)
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>