<div style="text-align:center;padding: 0px 0px 0px 100px;">
		<div class="page">
			<ul id="ra" style="padding: 0px; position: absolute; opacity: 1; " class="roundabout-holder">
				<li class="confirmed">
					<div class="wrapper">
						<h2>Ponencia: </h2>
						<h3>(Tema por definir) </h3>
						<img src="http://farm2.static.flickr.com/1085/533413841_661b7aa2a4_o.jpg" alt="">
						<p style="margin-top: 10px;">Facundo Batista</p>
						<p>
							(Argentina)
						</p>
					</div>
				</li>
				<li class="confirmed">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>(Tema por definir) </h3>
						<img src="https://lh6.googleusercontent.com/-k0m3VE5mB6g/AAAAAAAAAAI/AAAAAAABZWQ/VzjRydm7mCA/photo.jpg" alt="">
						<p style="margin-top: 10px;">Erico Andrey</p>
						<p>
							(Brasil)
						</p>
					</div>
				</li>
				<li>
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>(Tema por definir) </h3>
						<img src="https://lh6.googleusercontent.com/-SQnyUf4ccW4/AAAAAAAAAAI/AAAAAAAAAWc/Pm7AefHYmHg/s250-c-k/photo.jpg" alt="">
						<p style="margin-top: 10px;">José Montes de Oca </p>
						<p>
							(Google)
						</p>
					</div>
				</li>
				<li class="confirmed">
					<div class="wrapper">
						<h2>Ponencia: </h2>
						<h3>(Tema por definir)</h3>
						<img src="http://farm2.static.flickr.com/1085/533413841_661b7aa2a4_o.jpg" alt="">
						<p style="margin-top: 10px;">Facundo Batista</p>
						<p>
							(Argentina)
						</p>
					</div>
				</li>
				<li class="confirmed">
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>(Tema por definir) </h3>
						<img src="https://lh6.googleusercontent.com/-k0m3VE5mB6g/AAAAAAAAAAI/AAAAAAABZWQ/VzjRydm7mCA/photo.jpg" alt="">
						<p style="margin-top: 10px;">Erico Andrey</p>
						<p>
							(Brasil)
						</p>
					</div>
				</li>
				<li>
					<div class="wrapper">
						<h2>Ponencia:</h2>
						<h3>(Tema por definir) </h3>
						<img src="https://lh6.googleusercontent.com/-SQnyUf4ccW4/AAAAAAAAAAI/AAAAAAAAAWc/Pm7AefHYmHg/s250-c-k/photo.jpg" alt="">
						<p style="margin-top: 10px;">José Montes de Oca </p>
						<p>
							(Google)
						</p>
					</div>
				</li>

			</ul>
		</div>
	</div>