<div class="speakers">
<ul>
    {% for s in speakers %}
    <li>
        <div class="row-fluid">
            <div class="span1">
                <img src="{{s.avatar}}">
            </div>
            <div class="span2">
                <p>{{s.speaker}}</p>
            </div>
            <div class="span3">
                <p><b><a href="{{s.detail}}">{{s.title}}</a></b></p>
            </div>
            <div class="span6">
                <p>{{s.description}}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
