    <div id="slider">
        <ul id="sliderContent">
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/1.jpg" alt="1" />
                <span class="top"><strong>PyCon Philippines 2012</strong><br />Diliman, Quezon City, Philippines.</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/2.jpg" alt="2" />
                <span class="top"><strong>Conferencia PyCon 2011</strong><br />Atlanta, EEUU.</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/3.jpg" alt="3" />
                <span class="bottom"><strong>PyConAr 2011</strong><br />Junín, Argentina</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/4.jpg" alt="4" />
                <span class="bottom"><strong>PyCon 2008</strong><br />Chicago, EEUU.</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/5.jpg" alt="5" />
                <span class="top"><strong>PyCon USA 2012</strong><br />Santa Clara, California, EEUU.</span>
            </li>
            <div class="clear sliderImage"></div>
        </ul>
    </div>