    <div id="slider">
        <ul id="sliderContent">
            <li class="sliderImage">
                <a href=""><img src="{{ STATIC_URL }}img/gallery/1.jpg" alt="1" /></a>
                <span class="top"><strong>Title text 1</strong><br />Content text...</span>
            </li>
            <li class="sliderImage">
                <a href=""><img src="{{ STATIC_URL }}img/gallery/2.jpg" alt="2" /></a>
                <span class="top"><strong>Title text 2</strong><br />context</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/3.jpg" alt="3" />
                <span class="bottom"><strong>Title text 2</strong><br />Content text...</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/4.jpg" alt="4" />
                <span class="bottom"><strong>Title text 2</strong><br />Content text...</span>
            </li>
            <li class="sliderImage">
                <img src="{{ STATIC_URL }}img/gallery/5.jpg" alt="5" />
                <span class="top"><strong>Title text 2</strong><br />Content text...</span>
            </li>
            <div class="clear sliderImage"></div>
        </ul>
    </div>