
{% if success_message %}
<div class="alert alert-success">
    {{success_message}}
</div>
{% endif %}
{% if formSpeakerRegistration.errors %}
<ul style="list-style-type:none;">
{% for error in formSpeakerRegistration.errors.values %}
<li class="alert alert-error">{{error}}</li>
{% endfor %}
</ul>
{% endif %}
<div id='formulario'>
    {% if presentation_id %}
    <form id="form" class="form-vertical" action="{% url presentation-edit presentation_id=presentation_id %}" method="post">
    {% else %}
    <form id="form" class="form-vertical" action-url="{% url presentation-create %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <legend>Registro de Ponencias al PyCon Venezuela 2012</legend>
            <div class="errors"></div></br>
            {% for field in formSpeakerRegistration %}
            <div class="row-fluid">
                <div class=" span8 control-group">
                    <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-inline">{{ field.help_text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="form-actions" align="right">
                <button type="submit" class="btn btn-success btn-large">Guardar</button>
                {% if presentation_id %}
                    <a class="btn btn-danger btn-large" data-action="deletePresentation" data-url="{% url presentation-edit presentation_id=elemento.id %}">Eliminar</a>
                    <a class="btn btn-inverse btn-large">Cancelar</a>
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>
