<table>
    <tbody><tr>
        <th>&nbsp;</th>
        
            <th>Track I (D5)</th>
        
            <th>Track II (E1)</th>
        
            <th>Track III (E2)</th>
        
            <th>Track IV (E3)</th>
        
            <th>Track V (E4)</th>
        
    </tr>
    
        <tr>
            <td class="time">07:00AM</td>
            
                <td colspan="5" rowspan="1" class="slot recess rowspan-1 colspan-5">
                    
                        <div class="title">Registration and speaker lounge open</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">08:00AM</td>
            
                <td colspan="5" rowspan="1" class="slot recess rowspan-1 colspan-5">
                    
                        <div class="title">Breakfast</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">09:00AM</td>
            
                <td colspan="5" rowspan="1" class="slot plenary rowspan-1 colspan-5">
                    
                        
                            <div class="title">Introduction and Welcome</div>
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">09:10AM</td>
            
                <td colspan="5" rowspan="1" class="slot plenary rowspan-1 colspan-5">
                    
                        
                            <div class="title">Keynote: Stormy Peters, Mozilla Corporation</div>
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">09:50AM</td>
            
                <td colspan="5" rowspan="1" class="slot plenary rowspan-1 colspan-5">
                    
                        
                            <div class="title">Keynote: Paul Graham, YCombinator</div>
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">10:30AM</td>
            
                <td colspan="5" rowspan="1" class="slot recess rowspan-1 colspan-5">
                    
                        <div class="title">Break with snacks in expo hall</div>
                    
                </td>
            
        </tr>
    
        
    
        <tr>
            <td class="time">11:30AM</td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/2/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/429/">Fast Test, Slow Test</a></div>
                                
                                    <div class="speaker">Gary Bernhardt</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/14/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/128/">Scalability at YouTube</a></div>
                                
                                    <div class="speaker">Shannon -jj Behrens</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/26/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/6/">Extracting musical information from sound</a></div>
                                
                                    <div class="speaker">Adrian Holovaty</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/38/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/399/">The Art of Subclassing</a></div>
                                
                                    <div class="speaker">Raymond Hettinger</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/50/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/449/">How to make your websites more accessible</a></div>
                                
                                    <div class="speaker">Robbie Clemons</div>
                                
                            
                        
                    
                </td>
            
        </tr>
        <tr>
            <td class="time">12:40PM</td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Lunch</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Lunch</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">12:55PM</td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Lunch</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Lunch</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Lunch</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">01:45PM</td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/16/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/467/">Advanced Security Topics</a></div>
                                
                                    <div class="speaker">Paul McMillan</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/40/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/45/">The Magic of Metaprogramming</a></div>
                                
                                    <div class="speaker">Jeff Rush</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">02:00PM</td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/4/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/339/">IPython: Python at your fingertips</a></div>
                                
                                    <div class="speaker">Fernando Pérez</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/28/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/246/">Code Generation in Python: Dismantling Jinja</a></div>
                                
                                    <div class="speaker">Armin Ronacher</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/52/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/260/">Build reliable, traceable, distributed systems with ZeroMQ</a></div>
                                
                                    <div class="speaker">Jérôme Petazzoni</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">02:40PM</td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/4/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/171/">pytest - rapid and simple testing with Python</a></div>
                                
                                    <div class="speaker">Holger Krekel</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/16/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/149/">Introduction to PDB</a></div>
                                
                                    <div class="speaker">Chris McDonough</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/28/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/122/">Apache Cassandra and Python</a></div>
                                
                                    <div class="speaker">Jeremiah Jordan</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/40/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/126/">Interfaces and Python</a></div>
                                
                                    <div class="speaker">Eric Snow</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/52/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/288/">Throwing Together Distributed Services With Gevent</a></div>
                                
                                    <div class="speaker">Jeff Lindsay</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">03:20PM</td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/4/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/336/">Fake It Til You Make It: Unit Testing Patterns With Mocks and Fakes</a></div>
                                
                                    <div class="speaker">Brian K. Jones</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/16/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/114/">Make Sure Your Programs Crash</a></div>
                                
                                    <div class="speaker">Moshe Zadka</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/28/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/77/">Putting Python in PostgreSQL</a></div>
                                
                                    <div class="speaker">Frank Wiles</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/40/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/131/">Decorators and Context Managers</a></div>
                                
                                    <div class="speaker">Dave Brondsema</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/52/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/78/">Static analysis of Python extension modules using GCC</a></div>
                                
                                    <div class="speaker">Dave Malcolm</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">03:50PM</td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Break</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Break</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">04:05PM</td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Break</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Break</div>
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot recess rowspan-2 colspan-1">
                    
                        <div class="title">Break</div>
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">04:25PM</td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/18/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/144/">Permission or Forgiveness?</a></div>
                                
                                    <div class="speaker">Alex Martelli</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="2" class="slot presentation rowspan-2 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/42/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/380/">Python Metaprogramming for Mad Scientists and Evil Geniuses</a></div>
                                
                                    <div class="speaker">Walker Hale</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">04:40PM</td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/6/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/48/">Certainty in an Uncertain World: Gaining Confidence through Security Testing</a></div>
                                
                                    <div class="speaker">Geremy Condra</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/30/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/39/">Sage: Open Source Math in Python</a></div>
                                
                                    <div class="speaker">Christopher Swenson</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/54/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/40/">Non-Profit Centers of FLOSS Development</a></div>
                                
                                    <div class="speaker">Bradley M. Kuhn</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">05:20PM</td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/6/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/12/">Practicing Continuous Deployment</a></div>
                                
                                    <div class="speaker">David Cramer</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/18/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/466/">Introspecting Running Python Processes</a></div>
                                
                                    <div class="speaker">Adam Lowry</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/30/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/416/">pandas: Powerful data analysis tools for Python</a></div>
                                
                                    <div class="speaker">Wes McKinney</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/42/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/384/">Through The Ether And Back Again: What Happens To A Packet When You Send It</a></div>
                                
                                    <div class="speaker">Glyph</div>
                                
                            
                        
                    
                </td>
            
                <td colspan="1" rowspan="1" class="slot presentation rowspan-1 colspan-1">
                    
                        
                            <div class="">
                                
                                    <div class=" extreme">E</div>
                                
                                
                                
                                
                                    <div class=" session">
                                        <a href="/2012/schedule/session/54/">S</a>
                                    </div>
                                
                            </div>
                            
                                <div class="title"><a href="/2012/schedule/presentation/210/">A resume-based WSGI Load Balancer</a></div>
                                
                                    <div class="speaker">Jim Fulton</div>
                                
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">06:00PM</td>
            
                <td colspan="5" rowspan="1" class="slot plenary rowspan-1 colspan-5">
                    
                        
                            <div class="title">Friday End of Day Address</div>
                            
                        
                    
                </td>
            
        </tr>
    
        <tr>
            <td class="time">06:05PM</td>
            
        </tr>
    
</tbody></table>