<div id="pycon-table">



<div id="pycon-header">
<span class="pycon-bold">Actividades Pycon Venezuela</span><br />
Del 1 al 3 de Noviembre de 2012
</div>

<div id="pycon-top">
<div class="pycon-top-cell" style="width:80px; text-align:left; padding-left: 24px;">Hora</div>
<div class="pycon-top-cell">Track I (D5)</div>
<div class="pycon-top-cell">Track II (E1)</div>
<div class="pycon-top-cell" style="border:none;">Track V (E4)</div>
</div>


<div id="pycon-middle">



<div class="pycon-left">07:00AM</div>
<div class="pycon-right event"><a href="#">S Fast Test, Slow Test</a><br> Gary Bernhardt</div>
<div class="pycon-right event"><a href="#">Uncertain World: Gaining Confidence through Security Testing</a><br> Geremy Condra</div>

<div class="pycon-right">Sin Confirmar</div>




<div class="pycon-left">10:00AM</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right event">
	<a href="#">E S Throwing Together Distributed Services With Gevent</a><br> Jeff Lindsay
</div>






<div class="pycon-left">02:40PM</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right event">
	<a href="#">Python Metaprogramming for Mad Scientists and Evil Geniuses</a><br>
	 Walker Hale</div>

<div class="pycon-left">03:40PM</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right event"><a href="#">IPython: Python at your fingertips</a><br>
Fernando Pérez</div>
<div class="pycon-right">Sin Confirmar</div>



<div class="pycon-left">03:40PM</div>

<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right event">
	<a href="#">Through The Ether And Back Again: What Happens To A Packet When You Send It Glyph</a>
</div>
<div class="pycon-right">Sin Confirmar</div>


<div class="pycon-left">03:40PM</div>
<div class="pycon-right event"><a href="#">Introspecting Running Python Processes</a><br> Adam Lowry</div>
<div class="pycon-right">Sin Confirmar</div>
<div class="pycon-right">Sin Confirmar</div>






</div>


<div id="pycon-footer">
* Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</div>




</div>