<html>
    <head>
        <title>Pycon Venezuela 2012</title>
        <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
        <link type='text/less' href='{{ STATIC_URL }}css/pycon.less' rel='stylesheet' >
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Pycon Venezuela</h1>
            <ul>
                <li><a href="">Acerca De</a></li>
                <li><a href="">Actividades</a></li>
                <li><a href="">Inscripciones</a></li>
                <li><a href="">Patrocinantes</a></li>
                <li><a href="">Iniciar Sesión</a></li>
            </ul>
        </header>
        
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="caracas" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#caracas" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#caracas" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Convocatoria de propuestas</h3>
                    <p>Inscribe tu ponencua hasta el 19 de agosto, te estamos esperando.</p>
                </div>
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Tutoriales</h3>
                    <p>Mesas de trabajo 1 de noviembre en las instalaciones de la Universidad Católica Andrés Bello.</p>
                </div>
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Exposiciones</h3>
                    <p>Charlas con invitados internacionales el 2 y 3 de noviembre en el CIEC de la Universidad Católica Andrés Bello.</p>
                </div>
            </div>
            
            
            
            <section>
                <h1>Acerca De</h1>
                <p>
                    Días: 1, 2 y 3 de Noviembre<br>
                    Lugar: Universidad Católica Andrés Bello.<br>
                    Invitados Internacionales:<br>
                    Confirmados:<br>
                    Facundo Batista (Argentina)<br>
                    Érico Andrey (Brasil)<br>
                    <br>
                    Por confirmar:<br>
                    José Montes de Oca (Google)<br>
                </p>
            </section>
            <section>
                <h1>Actividades</h1>
                <p>
                    Un Calendario
                </p>
                <p>
                    It’s all well and good that we know there's a problem. What do we plan to do about it? Combined, our team has previously shipped products to over half a billion people. We're bringing all of the goodness you’ve come to expect on the web and your phone to healthcare.
                </p>
            </section>
            <section>
                <h1>Inscripciones</h1>
                <p>
                    Par de formularios separados por tabs o algo parecido
                </p>
                <p>
                    It’s all well and good that we know there's a problem. What do we plan to do about it? Combined, our team has previously shipped products to over half a billion people. We're bringing all of the goodness you’ve come to expect on the web and your phone to healthcar.
                </p>
            </section>
            <section>
                <h1>Patrocinantes</h1>
                <p>
                    Zava (ya hacer y hostear la página web nos da derecho)<br>
                    Vauxoo (no lo coloques aún, debo hablar con ellos esta semana)<br>
                    UCAB<br>
                    More TBA if they come...<br>
                </p>
            </section>
        </div>
        <footer>
            El footer
        </footer>

        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/pycon.js"></script>
    </body>
</html>