{% load pycon_helpers %}
<html>
    <head>
        <title>Pycon Venezuela 2012</title>
        <link rel="icon" type="image/ico" href="{{ STATIC_URL }}img/pyve.ico"></link> 
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/pyve.ico"></link>
        <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
        <link type='text/less' href='{{ STATIC_URL }}css/pycon.less' rel='stylesheet' >
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.smooth-scroll.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-modal.js"></script>
    </head>
    <body>
        <header class="fixed-top" id="top">
            <h1><a href="#top">PyCon Venezuela</a></h1>
            <ul>
                <li><a href="#about-it">Acerca de...</a></li>
                <li><a href="#activities">Actividades</a></li>
                <li><a href="#inscriptions">Inscripciones</a></li>
                <li><a href="{% url sponsor-list %}">Patrocinantes</a></li>
                <li><a href="{% url profiles-login %}">Iniciar Sesión</a></li>
                <li><a href="#myModal" data-toggle="modal">Recuperar Contraseña</a></li>
            </ul>
        </header>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="banner" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"></div>
                            <div class="item">
                                <div>
                                    <h1>El encuentro más grande de desarrolladores Python</h1>
                                </div>
                            </div>
                            <div class="item"></div>
                            <div class="item"></div>
                        </div>
                        <!-- Carousel nav -->
                        <span class="carousel-control left" href="#banner" data-slide="prev">&lsaquo;</span>
                        <span class="carousel-control right" href="#banner" data-slide="next">&rsaquo;</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Convocatoria de propuestas</h3>
                    <p><b>Extendido el plazo</b></p>
                    <p>Inscribe tu ponencia hasta el 28 de septiembre, te estamos esperando.</p>
                </div>
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Tutoriales</h3>
                    <p>Mesas de trabajo 1 de noviembre en las instalaciones de la Universidad Católica Andrés Bello.</p>
                </div>
                <div class="span1">
                    <img src="{{ STATIC_URL }}img/icon.png">
                </div>
                <div class="span3">
                    <h3>Exposiciones</h3>
                    <p>Charlas con invitados internacionales el 2 y 3 de noviembre en Auditorio Hermano Lanz de la Universidad Católica Andrés Bello.</p>
                </div>
            </div>
            
            <section>
                <div class="row-fluid">
                    <div class="span12" id="about-it">
                        <h1>Acerca de...</h1>
                    </div>
                </div>
                
                <div class="row-fluid">
                    <div class="span7">
                        <h2>¿Qué es el PyCon?</h2>
                        <p>PyCon es el encuentro anual más grande de desarrolladores del lenguaje de programación Python que se realiza en diferentes países del mundo. Estos encuentros son desarrollados y llevados a cabo por las comunidades Python de cada país integrante. PyCon permite el acercamiento entre los diferentes desarrolladores con el propósito de compartir nuevas ideas, propuestas y experiencias a través de debates, charlas, tutoriales y mesas de trabajo.</p>
                    </div>
                    
                    <div class="span5 pycongermany">
                        <img src="{{ STATIC_URL }}img/pycon_alemania.jpg" border="1px dashed gray" >
                        <p> Foto PyCon Alemania 2012</p>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <h2>Mesas de Trabajo y Tutoriales</h2>
                        <p>Dentro de las actividades desarrolladas en el PyCon, y como parte de integración con la comunidad desarrolladora del lenguaje de programación Python, se llevan a cabo pequeñas jornadas de mesas de trabajo o tutoriales con el fin de propagar nuevos conocimientos sobre este poderoso lenguaje. Estos tutoriales están dirigidos a un número limitado de participantes.</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h2>Conferencias</h2>
                        <p>Las charlas y conferencias son llevadas a cabo por personas voluntarias pertenecientes a la comunidad Python y que pretenden difundir conocimientos adquiridos, mostrar el uso de nuevas tecnologías o simplemente promover y fomentar el uso de este lenguaje de programación.<br> En estas conferencias es fácil encontrarse con charlas informativas e inspiradoras que permiten involucrarse con mayor entusiasmo en el desarrollo de nuevos proyectos en Python y facilitan establecer contactos y amigos entre los distintos asistentes. Por lo general, estas charlas suelen tener una duración de 40 minutos.</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h2>PyCon Venezuela</h2>
                        <p>Este año 2012, Venezuela tiene el privilegio de contar con el primer encuentro PyCon desarrollado por la comunidad Python de este país. Esta primera actividad ofcial tendrá como sede  las instalaciones de la <i>Universidad Católica Andres Bello</i> en Caracas, en el auditorio Hermano Lanz y será desarrollada los días 1, 2 y 3 de noviembre del presente año. En el encuentro participaran diferentes ponentes nacionales e internacionales que darán a conococer cuáles han sido sus experiencias, intercambiar conocimientos, innovaciones y detallar cuán poderoso puede ser el uso de este lenguaje de programación para el desarrollo de nuestros proyectos.</p>
                        <p>La entrada a este evento será gratuita y sólo deberás registrarte en esta página en la sección de <b><a href="#inscriptions">Inscripciones</a></b>. Si deseas compartir tus experiencias o deseas participar en la realización de una charla deberás ingresar la información referente en la misma sección.</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <h2>Cómo llegar a la UCAB</h2>
                        <p><b>En Metro: </b>la Universidad Católica Andrés Bello está ubicada a la altura de la estación Antímano del Metro de Caracas. A la derecha de la estación se encuentran los torniquetes de acceso a la pasarela de la UCAB, recuerda que debes identificarte con el personal de vigilancia.</p>
                        <p><b>En Autobús: </b>si te estás alojando en la zona de El Paraíso o Montalbán, puedes tomar un autobús en la Av. Páez o en la Av. Intercomunal de Montalbán (Av. Teherán). Debe decir en la parte frontal "SS Antímano" o "Metro Antímano", aunque siempre puedes preguntarle al conductor si pasa por la UCAB.</p>
                    </div>
                    <div class="span6">
                        <img src="{{ STATIC_URL }}img/images/mapa_metro.jpg">
                    </div>
                </div>
            </section>
            <section>
                <div class="row-fluid">
                    <div class="span12" id="activities">
                        <h1>Ponentes internacionales</h1>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7" style="height:450px;">
                        <h3>Del 1 al 3 de noviembre del 2012</h3>
                        <br><br>
                        {% include '_activities.html' %}
                        <div class="leyend">
                            <div class="conf"></div>
                            <div class="ctext">confirmado</div>
                            <div class="pconf"></div>
                            <div class="ctext">por confirmar</div><br><br>
                                <div class="span4"></div>
                                <a href="{% url presentation-list %}">
                                    <button class="btn btn-large btn-primary">Ver todas</button>
                                </a>
                        </div>
                    </div>
                    <div class="span5">
                        <h2>Actividades PyCon</h2>
                        <p>Ven y acompañanos en las actividades que estaremos realizando para compartir experiencias y conocimientos relacionados con Python.</p>
                        <p>Aquí encontraras todas las ponencias, conferencias, tutoriales y mesas de trabajo que se realizarán en la primera edición del PyCon Venezuela.</p>
                        <p>Si deseas participar en cualquiera de las actividades del PyCon te invitamos a que te <a href="#inscriptions">Inscribas</a>.</p>
                        <h2>Galería de otros PyCon a nivel mundial</h2>
                        <p>
                            {% include '_gallery_act.html' %}
                        </p>
                    </div>
                </div>
            </section>
            <section id="inscription">
                <div class="row-fluid">
                    <div class="span12" id="inscriptions">
                        <h1>Inscripciones</h1>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">
                        <p>La entrada al <b>PyCon Venezuela 2012</b> será libre. Sin embargo, para facilitar la entrega de los certificados te recomendamos registrarte en esta página.</p>
                        <p>Si deseas dictar alguna ponencia o preparar algún tutorial y/o mesa de trabajo puedes suministrar dicha información iniciando sesión en la página previo registro.</p>
                        <!--
                        <p>Participar como <h2><a class="show-form-attenders">Asistente</a></h2></p>
                        <p>Participar como <h3>asasasd</h3>sdfsdf<a class="show-form-speakers">Ponente</a></p>
                    -->
                    </div>

                    <div class="span7">
                        <div class="form-attenders">
                            {% include '_attenders.html' %}
                        </div>
                    </div>
                </div>
                
            </section>
            <section class="row">
                <div class="span12" id="sponsors">
                    <h1>Patrocinantes</h1>
                </div>
                <div class="span12">
                    {% show_sponsors %}
                </div>
            </section>
        </div>
        <footer>
            <center>PyCon Venezuela 2012.  Powered by <a href="http://zava.com.ve">ZAVA</a></center>
        </footer>

        <div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Recuperar contraseña</h3>
            </div>
            <div class="modal-body">
                <form action="{% url password-forgot %}" method="post">
                    {% csrf_token %}
                    {% for field in passwordRecoveryForm %}
                    <div class="row-fluid">
                        <div class="span8 control-group">
                            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
                            <div class="controls">
                                {{ field }}
                                <p class="help-inline">{{ field.help_text }}</p>
                            </div>
                        </div>
                        <div class="span4 message" style="visible:none"></div>
                    </div>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            </form>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/effects.core.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-popover.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.roundabout.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.event.drop-2.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.roundabout-shapes.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/s3Slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/pycon.js"></script>
    </body>
</html>
