{% load pycon_helpers %}
<html>
    <head>
        <title>PyCon Venezuela 2012</title>
        <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
        <link type='text/less' href='{{ STATIC_URL }}css/pycon.less' rel='stylesheet' >
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.3.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.smooth-scroll.js"></script>
    </head>
    <body>
        <header class="fixed-top" id="top">
            <h1><a href="http://www.pyconve.com">PyCon Venezuela</a></h1>
            <ul>
                <!--
                <li><a href="#about-it">Acerca de...</a></li>
                <li><a href="#activities">Actividades</a></li>
                <li><a href="#inscriptions">Inscripciones</a></li>
                <li><a href="#sponsors">Patrocinantes</a></li>
                -->
                <li><a href="">Cerrar Sesión</a></li-->
            </ul>
        </header>
        <div class="row">
            <div class="span4">
                <p>Registros</p>
            </div>
            <div class="span8">
                <p>Listado</p>
            </div>
        </div>
        <footer>
            <center>PyCon Venezuela 2012.  Powered by <a href="http://zava.com.ve">ZAVA</a></center>
        </footer>

        
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/effects.core.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-popover.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.roundabout.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.event.drop-2.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/jquery.roundabout-shapes.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ra/s3Slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/pycon.js"></script>
    </body>
</html>
