@import 'bootstrap/bootstrap.less';
@import 'bootstrap/responsive.less';
@import 'roundabout.less';

* {
    font-family: 'Metrophobic', sans-serif;
}

.carousel-control {
    cursor: pointer;
}

header {
    padding: 50px 30px;
    position: relative;
    background: @grayDark;
    #gradient > .radial(@grayDark, @black);
    color: @white;
    margin-bottom: 20px;

    h1 {
        display: inline-block;
        a {
            color: @white;
            &:hover {
                color: @white;
                text-decoration: none;
            }
        }
    }
    ul {
        display: inline-block;
        list-style: none;
        li {
            padding: 0 15px;
            display: inline-block;
            a {
                color: @grayLight;
                &:hover {
                    color: @grayLighter;
                    text-decoration: none;
                }
            }
        }
    }
}

p {
    text-align: justify;
}

section {
    padding: 20px;
    .border-radius(4px);
}

#list {
    tr:hover {
        cursor: pointer;
    }
    h2 {
        color: @gray;
    }
}

#mainProfile {
    text-align: : right;
}

#banner {
    .item {
        background-color: @black;
        background-repeat:no-repeat;
        height: 440px;
        &:nth-child(1) {
            background-image: url("/static/img/banner/1.png");
        }
        &:nth-child(2) {
            background-image: url("/static/img/banner/2.png");
            div {
                float: right;
                padding: 20px;
                margin-top: 310px;
                background-color: rgba(200,200,200,0.3);
                .border-radius(5px);
            }
        }
        &:nth-child(3) {
            background-image: url("/static/img/banner/3.png");
        }
        &:nth-child(4) {
            background-image: url("/static/img/banner/4.png");
        }
    }
}

@media screen and (max-width: 1280px){
    #banner {
        .item {
            background-size: 100%;
            height: 310px;
            &:nth-child(2) {
                div {
                    margin-top: 200px;
                }
            }
        }
    }
}

#inscription {
    .nav {
        margin-bottom: 0px;
    }
    ul {
        li {
            a {
                color: @grayDark;
            }
            .active {
                background-color: @black;
            }
        }
    }
    h3 {
        margin: 0px;
        display: inline !important;
        a {
            color: @black;
            &:hover {
                color: @white;
                text-decoration: none;
            }
        }
    }
}

#session {
    .span12{
        float: right;
    }
    .span4{
        float: left;
    }
    .help-inline {
        color : red;
    }
    p {
        display: inline;
        margin-top: 3px;
        .alert {
            margin-bottom: 0;
        }
    }
}

.pycongermany {
    height:148px;
    margin-left:18px;
    p {
        color: @gray;
        text-align: right;
        font-size: 11px;
        padding-right: 10px;
    }
}

section {
    margin-top: 30px;
    padding-bottom: 30px;
    &:nth-child(odd) {
        background-color:@grayLighter;
    }
    &:nth-child(even) {
        background-color:@white;
    }
    h1 {
        margin: 20px 5px;
    }
    h2 {
        margin: 10px 0;
    }
    table {
        font-size: 13px;
        border: 1px solid @grayLighter;
        td {
            border: 1px solid @grayLighter;
        }
    }
}

.form-attenders {
    .controls {
        input {
            height: 24px;
        }
    }
}

.form-login {
    .controls {
        input {
            height: 24px;
        }
    }
}

.form-profile {
        input {
            height: 24px;
        }
        textarea {
            width: 100%;
        }
    
    #id_duration {
        width: 40px;
    }

    #id_name {
        width: 100%;
    }
}

footer {
    margin-top: 50px;
    padding: 50px 60px;
    background: @gray;
    #gradient > .radial(@gray, @grayDark);
    color: @white;
}

.fixefd-top {
  
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

#pycon-table {
    margin:0;
    padding: 4px;
    width: 663px;
    font: 13px Arial, Helvetica, sans-serif;
    color:#747474;
    background-color:@grayDark;
}

#pycon-header {
    margin:0;
    padding: 14px 0 0 24px;
    width: 641px;
    height: 55px;
    color:#FFF;
    font-size:13px;
    background: @grayDark;
}

.pycon-bold {
    font: bold 22px Arial, Helvetica, sans-serif;
    
}

#pycon-top {
    margin:0;
    padding: 0;
    width: 663px;
    height: 46px;
    border-top: 2px solid #e4ebf8;
    background: #e4ebf8;
    border-bottom: 1px solid #B3C1DB;
}

.pycon-top-cell {
    float:left;
    padding: 15px 0 0 0;
    text-align:center;
    width:185px;
    height: 31px;
    border-right: 1px solid #ced9ec;

    color:@black;
    font: 13px Arial, Helvetica, sans-serif;
}

#pycon-middle {
    margin:0;
    padding: 0;
    width: 665px;
    background: #f6f6f6;
}

.pycon-left {
    float:left;
    margin:0;
    padding: 30px 0 10 24px;
    width: 80px;
    text-align: left;
    height: 39px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
    color:@gray;
    font: 13px Arial, Helvetica, sans-serif;
    background: #e4ebf8;
}

.pycon-right {
    float:left;
    margin:0;
    padding: 7px 4 10 4;
    width: 177px;
    text-align:center;
    height: 62px;
    border-right: 1px solid #ced9ec;
    border-bottom: 1px solid #b3c1db;
    a{
        color:@white;
    }
}

#pycon-bottom {
    clear:both;
    margin:0;
    padding: 0;
    width: 662px;
    height: 48px;
    border-top: 2px solid #FFF;
    background: #e4e3e3;  
}


.pycon-bottom-cell {
    float:left;
    padding: 15px 0 0 0;
    text-align:center;
    width:111px;
    height: 33px;
    border-right: 1px solid #ced9ec;
    color:#070707;
    font: 13px Arial, Helvetica, sans-serif;
}

#pycon-footer {
    font-size: 10px;
    color:#8a8a8a;
    margin:0;
    padding: 8px 0 8px 12px;
    width: 651px;
    background: #f6f6f6 ;  
}
.event{

    background-color: lighten(spin(@greenEvent, 5), 5%);
    color:@yellowEvent;
}
footer{

    a{color:@white;
        &:hover { color:@white }
    }
}

