.roundabout-holder {
   list-style: none;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;

   height: 350px;
   width: 290px;
}
.roundabout-moveable-item {
   height: 350px;
   width: 290px;
   cursor: pointer;
   background-color:#407360;// #6DA69D;
   border: 0px solid @gray;
   color:@white;
   box-shadow:0 4px 32px rgba(0, 0, 0, 0.4);
   img{
      width:110px;height:100px;margin: 20px 0px 0px 0px;border: 1px solid @white;
   }
   p{text-align:center;}
}
.roundabout-in-focus {
   cursor: auto;
}